
@{
    ViewData["Title"] = "Klijentski račun";
}

@model ServisApp.Areas.KlijentModul.ViewModels.KlijentskiRacunUrediVM

@section Scripts {
    <script>
        var settings = {
            validClass: "is-valid",
            errorClass: "is-invalid"

        };
        $.validator.setDefaults(settings);
        $.validator.unobtrusive.options = settings;
    </script>
}
<!-- Content Header (Page header) -->
<section class="content-header">
    <div class="container-fluid">
        <div class="row mb-2">
            <div class="col-sm-6">
                <h1>Klijentski račun</h1>
            </div>
        </div>
    </div>
</section>

<!-- Main content -->
<section class="content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-8">
                <div class="card card-lightblue">
                    <div class="card-header">
                        <h3 class="card-title">Detalji o klijentskom računu</h3>
                    </div>
                    <form role="form" asp-action="Edit" method="post" enctype="multipart/form-data" class="needs-validation" novalidate>
                        <input asp-for="@Model.KlijentskiRacunId" />
                        <input asp-for="@Model.KlijentskiRacunSlikaPath" value="@Model.KlijentskiRacunSlikaPath" />
                        <input asp-for="@Model.KorisnickoIme" />
                        <div class="card-body">
                            <div class="row">
                                <div class="col-sm-12 custom-edit-image">
                                    <img class="profile-user-img img-fluid img-circle" src="@Model.KlijentskiRacunSlikaPath" width="128" height="128" alt="Slika klijentsko računa">
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-sm-6">
                                    <div class="form-group">
                                        <label asp-for="Ime">Ime</label>
                                        <input asp-for="Ime" class="form-control" />
                                        <span asp-validation-for="Ime" class="text-danger"></span>
                                    </div>
                                </div>
                                <div class="col-sm-6">
                                    <div class="form-group">
                                        <label asp-for="Prezime">Prezime</label>
                                        <input asp-for="Prezime" class="form-control" />
                                        <span asp-validation-for="Prezime" class="text-danger"></span>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-sm-6">
                                    <div class="form-group">
                                        <label asp-for="Email">Email</label>
                                        <input asp-for="Email" class="form-control" />
                                        <span asp-validation-for="Email" class="text-danger"></span>
                                    </div>
                                </div>
                                <div class="col-sm-6">
                                    <div class="form-group">
                                        <label>Korisničko ime</label>
                                        <input type="text" value="@Model.KorisnickoIme" class="form-control" disabled />
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-sm-6">
                                    <div class="form-group">
                                        <label asp-for="Lozinka">Lozinka</label>
                                        <input asp-for="Lozinka" class="form-control" autocomplete="new-password" />
                                        <span asp-validation-for="Lozinka" class="text-danger"></span>
                                    </div>
                                </div>
                                <div class="col-sm-6">
                                    <div class="form-group">
                                        <label asp-for="LozinkaPotvrda">Potvrda lozinke</label>
                                        <input asp-for="LozinkaPotvrda" class="form-control" />
                                        <span asp-validation-for="LozinkaPotvrda" class="text-danger"></span>
                                    </div>
                                </div>
                            </div>
                            <div class="form-group">
                                <label asp-for="BrojDanaPrijeIsteka">Broj dana prije isteka</label>
                                <input asp-for="BrojDanaPrijeIsteka" class="form-control" />
                                <span asp-validation-for="BrojDanaPrijeIsteka" class="text-danger"></span>
                            </div>
                            <div class="form-group">
                                <div class="custom-control custom-switch custom-switch-off-danger custom-switch-on-success">
                                    <input class="custom-control-input" asp-for="EmailNotifikacija">
                                    <label class="custom-control-label" asp-for="EmailNotifikacija">Email notifikacija</label>
                                    <span asp-validation-for="EmailNotifikacija" class="text-danger"></span>
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="KlijentskiRacunSlika">Slika klijentskog računa <span id="imgUpozorenje">(preporučene dimenzije: 128x128px, max. veličina: 60KB, dozvoljeni formati: jpg, jpeg, png)</span></label>
                                <div class="custom-file">
                                    <input asp-for="KlijentskiRacunSlika" class="custom-file-input">
                                    <label asp-for="KlijentskiRacunSlika" class="custom-file-label">Odaberite sliku</label>
                                    <span asp-validation-for="KlijentskiRacunSlika" class="text-danger"></span>
                                </div>
                            </div>
                            <div class="card-footer">
                                <button type="submit" class="btn btn-outline-primary">Snimi</button>
                                <a class="btn btn-outline-secondary float-right" asp-area="" asp-controller="Home" asp-action="Index">Nazad</a>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</section>