
@{
    ViewData["Title"] = "Ponude";
}

@model ServisApp.Areas.OrganizatorModul.ViewModels.PonudaDetaljiVM
<!-- Content Header (Page header) -->
<section class="content-header">
    <div class="container-fluid">
        <div class="row mb-2">
            <div class="col-sm-6">
                <h1>Ponude</h1>
            </div>
        </div>
    </div>
</section>

<!-- Main content -->
<section class="content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-6">
                <div class="card card-lightblue">
                    <div class="card-header">
                        <h3 class="card-title">Prikaz detalja o ponudi</h3>
                    </div>
                    <div class="card-body">
                        <div class="row">
                            <div class="col-sm-4">
                                <div class="form-group">
                                    <label>Broj ponude</label>
                                    <input type="text" class="form-control" value="@Model.BrojPonude" disabled />
                                </div>
                            </div>
                            <div class="col-sm-8">
                                <div class="form-group">
                                    <label>Klijent</label>
                                    <input type="text" class="form-control" value="@Model.NazivKlijenta" disabled />
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-sm-4">
                                <div class="form-group">
                                    <label>Datum izdavanja</label>
                                    <input type="text" class="form-control" value="@Model.DatumIzdavanja" disabled />
                                </div>
                            </div>
                            @if (Model.PonudaStatus)
                            {
                                <div class="col-sm-4">
                                    <div class="form-group">
                                        <label>Status</label>
                                        <input class="form-control" style="border: 1px solid #28a745;" disabled value="Prihvaćena" />
                                    </div>
                                </div>
                            }
                            else
                            {
                                <div class="col-sm-4">
                                    <div class="form-group">
                                        <label>Status</label>
                                        <input class="form-control" style="border: 1px solid #dc3545;" disabled value="Nije prihvaćena" />
                                    </div>
                                </div>
                            }
                            <div class="col-sm-4">
                                <div class="form-group">
                                    <label>Kreirao</label>
                                    <input type="text" class="form-control" value="@Model.Korisnik" disabled />
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-sm-4">
                                <div class="form-group">
                                    <label>Ukupan iznos bez PDV (KM)</label>
                                    <input type="text" class="form-control" value="@Model.UkupanIznosBezPdv.ToString("F2")" disabled />
                                </div>
                            </div>
                            <div class="col-sm-4">
                                <div class="form-group">
                                    <label>Ukupan iznos PDV (KM)</label>
                                    <input type="text" class="form-control" value="@Model.PDV.ToString("F2")" disabled />
                                </div>
                            </div>
                            <div class="col-sm-4">
                                <div class="form-group">
                                    <label>Ukupan iznos sa PDV (KM)</label>
                                    <input type="text" class="form-control" value="@Model.UkupanIznosSaPdv.ToString("F2")" disabled />
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-4">
                            <div class="form-group">
                                <label>Pregled dokumenta</label>
                                <br />
                                <a class="btn btn-app" asp-action="PonudaPDF" asp-route-file="@Model.PonudaPath" target="_blank">
                                    <i class="fas fa-file-pdf"></i>PDF
                                </a>
                            </div>
                        </div>
                        <div class="card-footer">
                            <a class="btn btn-outline-secondary float-right" asp-action="Index">Nazad</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>